@model MessageSender.Models.Subscriber

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subscriber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstSubscriptionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstSubscriptionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastSubscriptionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastSubscriptionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUnsubscriptionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUnsubscriptionDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
