@model PagedList.IPagedList<MessageSender.Models.Subscriber>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="well">
    @using (Html.BeginForm("Index", "Subscribers", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="input-group input-group-sm col-md-2">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-phone"></span>
            </span>
            @Html.TextBox("phoneNumber", "", new { @placeholder = "phone number", @class = "form-control" })
        </div>

        <div class="input-group input-group-sm col-md-2">
            <span class="input-group-addon">
                Subscribed between
            </span>
            <input type="datetime-local" name="startDate" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>


        <div class="input-group input-group-sm col-md-2">
            <span class="input-group-addon">
                and
            </span>
            <input type="datetime-local" name="endDate" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>

        <div class="input-group input-group-sm col-md-2">
            <select class="form-control" name="subscriptionStatus">
                <option value="any">Active and Inactive</option>
                <option value="active">Active only</option>
                <option value="inactive">Inactive only</option>
            </select>
        </div>


        <input type="submit" class="btn btn-sm btn-warning" value="Filter" />
    }
</div>

<br />
<div>
    <a href=@Url.Action("Import") class="btn btn-primary">
        Import &nbsp;
        <span class="badge">
            <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
        </span>
    </a>

</div>

<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ServiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FirstSubscriptionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LastSubscriptionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LastUnsubscriptionDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstSubscriptionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastSubscriptionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUnsubscriptionDate)
        </td>
        <td>
        </td>
    </tr>
}

</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    phoneNumber = ViewBag.phoneFilter,
    startDate = ViewBag.startDateFilter,
    endDate = ViewBag.endDateFilter,
    subscriptionStatus = ViewBag.subscriptionStatusFilter
}))