@model PagedList.IPagedList<MessageSender.Models.Subscriber>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-8">
        <h3>Subscribers</h3>
    </div>

    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="lead">Total: &nbsp;  @Model.TotalItemCount.ToString("N0")</span>
            </div>
        </div>
    </div>

</div>

<div class="well">
    @using (Html.BeginForm("Index", "Subscribers", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="input-group input-group-sm col-md-2">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-phone"></span>
            </span>
            @Html.TextBox("phoneNumber", "", new { @placeholder = "phone number", @class = "form-control" })
        </div>

        <div class="input-group input-group-sm col-md-2">
            <span class="input-group-addon">
                Subscribed between
            </span>
            <input type="datetime-local" name="startDate" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>


        <div class="input-group input-group-sm col-md-2">
            <span class="input-group-addon">
                and
            </span>
            <input type="datetime-local" name="endDate" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>

        <div class="input-group input-group-sm col-md-2">
            <select class="form-control" name="subscriptionStatus">
                <option value="any">Active and Inactive</option>
                <option value="active">Active only</option>
                <option value="inactive">Inactive only</option>
            </select>
        </div>


        <input type="submit" class="btn btn-sm btn-warning" value="Filter" />
    }
</div>

<br />
<div>
    <a href=@Url.Action("Import") class="btn btn-primary">
        Import &nbsp;
        <span class="badge">
            <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
        </span>
    </a>

</div>

<hr />


<div id="deactivationResponses">

</div>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ServiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FirstSubscriptionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LastSubscriptionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LastUnsubscriptionDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr id="@item.Id">
            @{ Html.RenderPartial("_SubscriberRow", item); }
        </tr>
    }

</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    phoneNumber = ViewBag.phoneFilter,
    startDate = ViewBag.startDateFilter,
    endDate = ViewBag.endDateFilter,
    subscriptionStatus = ViewBag.subscriptionStatusFilter
}))

@{Html.RenderPartial("_PleaseWait");}