@model PagedList.IPagedList<MessageSender.Models.BatchMessage>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MessageContent)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sender)
        </td>
        <td>
            @item.StartTime.ToString("dd/mm/yyyy HH:mm:ss")
        </td>
        <td>
            @item.EndTime.ToString("dd/mm/yyyy HH:mm:ss")
        </td>
        <td>

        </td>
    </tr>
}

</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of (@Model.PageCount)

@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page
}))