@model PagedList.IPagedList<MessageSender.Models.BatchMessage>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}


@section styles {
    @Styles.Render("~/Content/customcss")
}

<div class="row">
    <div class="col-md-8">
        <h3>Batch Messages</h3>
    </div>

    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="lead">Total: &nbsp;  @Model.TotalItemCount.ToString("N0")</span>
            </div>
        </div>
    </div>

</div>

<p>
    <a href=@Url.Action("Create") class="btn btn-primary">
        <span class="badge">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </span>
        New Message
    </a>
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MessageContent)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CreatedAt)
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="messageColumn">
            @Html.DisplayFor(modelItem => item.MessageContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sender)
        </td>
        <td>
            @item.StartTime.ToString("dd/MM/yyyy HH:mm:ss")
        </td>
        <td>
            @item.EndTime.ToString("dd/MM/yyyy HH:mm:ss")
        </td>
        <td>
            @item.CreatedAt.ToString("dd/MM/yyyy HH:mm:ss")
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-info @(item.StartTime < DateTime.Now ? "disabled" : "active") ">
<span class="glyphicon glyphicon-edit"></span>
                Edit
            </a>
        </td>
    </tr>
}

</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of (@Model.PageCount)

@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page
}))



@section scripts {
    @Scripts.Render("~/bundles/toggleCellContent");
}